


.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start { margin-right: 10px; }

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end { margin-left: 10px; }

.calendar .fc-toolbar {margin: 0 0 20px;}
.calendar .fc-toolbar-title {font-size: 25px;color: #333;margin: 0;font-weight: 400;}
.calendar .fc-button {padding: 0 15px;border: 1px solid #ff0000;color: #ff0000; background-color: #fff; height:40px; font-weight: 300; }
.calendar .fc .fc-button-primary:not(:disabled):active, .calendar .fc .fc-button-primary:not(:disabled).fc-button-active,
.calendar .fc .fc-button-primary:disabled,
.calendar .fc .fc-button-primary:focus,
.calendar .fc .fc-button-primary:hover { color: #ffffff; background: #ff0000; box-shadow: none; border-color:#ff0000 ;}
.fc td,
.fc th { border-style: solid; border-width: 1px; vertical-align: top; }
.fc th { text-align: center; font-weight:300 }
.fc-theme-standard td, .fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {border-color: #ff0000;}
.fc tr{ color: #ffffff;}
.calendar .fc-col-header  a{padding: 10px 0 ;color: #ff0000; font-weight: 500; text-decoration: none;}
.calendar .fc-event {background: #ff0000 ;border: 1px solid #ff0000;border-radius: 10px;padding: 10px 10px; color: #fff;}
.calendar .fc-popover-title {font-size: 14px;color: #FFF;font-weight: 400; background: #ff0000; }

/**** End Calender Style *****/

@media (max-width:767px) {	

.fc .fc-toolbar.fc-header-toolbar {
flex-direction: column;
}
.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk{ margin-bottom: 15px;}

}